<!DOCTYPE html>
<html>
<%- include( "partials/head") %>
<body>
  <%- include( "partials/nav_bar") %>
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <%- data.name %>
        </h1>
      </div>
    </div>
    <a href="/city/<%- data.name %>/<%- data.cityId %>/new_post">New Post</a>
  </section>
  <% data.posts.forEach(function(post) { %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="http://www.etptechnic.com/en/images/icon201.png" />
          </figure>
          <a href="/user/<%- post.username %>"> <%- post.username %> </a>
        </div>
        <div class="media-content">
          <h1 class="title">
            <%- post.title %>
          </h1>
          <div class="content">
            <%- post.content %>
          </div>
        </div>
      </article>
    </div>

  <% }) %>
</body>
</html>
