<!DOCTYPE html>
<html>
<%- include( "partials/head") %>
<body>
  <%- include( "partials/nav_bar") %>
  <div class="columns">
    <%- include( "partials/user_info") %>
    <div class="column">
      <h1 class="is-large">My Posts</h1>
      <% data.posts.forEach(function(post){ %>
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="http://www.etptechnic.com/en/images/icon201.png" />
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <strong> <%- post.city %> </strong> <br />
                <%- post.content %>
              </div>
            </div>
            <div class="column is-narrow">
              <a class="fa fa-pencil is-small" href="/post/<%- post.id %>"></a> <br />
              <a class= "fa fa-trash is-small" href="/post/<%- post.id %>/delete/<%- data.username %>"></a>
            </div>
          </article>
        </div>
        <% }) %>
    </div>
  </div>
</body>
</html>
